// Import and define Vuetify color theme
// https://vuetifyjs.com/en/style/colors
@require '~vuetify/src/stylus/settings/_colors.styl'
$theme := {
  primary:     $blue.darken-2
  accent:      $blue.accent-2
  secondary:   $grey.lighten-1
  info:        $blue.lighten-1
  warning:     $amber.darken-2
  error:       $red.accent-4
  success:     $green.lighten-2
}
@require './_variables.styl'
@require '~vuetify/src/stylus/main.styl'

.v-btn 
  font-family: $button-font-family
  // &:not(.v-btn--round)
  //   border-radius: 6px

#app
  background-color: #fff

.docs
  h1, h2, h3, h4, h5, h6
    margin-top: 25px
    margin-bottom: 15px
  p, ul, ol
    font-size: 16px

